COMPOSE_PROJECT_NAME=fastapi_project_test
IMAGE_NAME=fastapi_project
IMAGE_TAG=test
HOST_PORT=8001
APP_ENV=test
DEBUG=false
WORKERS=1
API_TITLE="FastAPI Backend Test"
API_DESCRIPTION="FastAPI backend test environment"
API_VERSION=1.0.0
CORS_ORIGINS='["*"]'
COHERE_API_TOKEN=
