COMPOSE_PROJECT_NAME=fastapi_project_prod
IMAGE_NAME=fastapi_project
IMAGE_TAG=production
HOST_PORT=8000
APP_ENV=production
DEBUG=false
WORKERS=2
API_TITLE="FastAPI Backend Production"
API_DESCRIPTION="FastAPI backend production environment"
API_VERSION=1.0.0
CORS_ORIGINS=https://your-production-domain.com
COHERE_API_TOKEN=
